<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neo.mapper.EmpLogMapper" >
    <sql id="whereQuery">
		<where>
			<if test="startTime!=null and startTime!=''">
				create_time &gt;= #{startTime}
			</if>
			<if test="endTime!=null and endTime!=''">
				and create_time &lt;= #{endTime}
			</if>
		</where>  
   </sql>
   <!-- 查询日志数，用于设置分页 -->
   <select id="logRowCount" resultType="java.lang.Integer">
   	select count(id)
   	from emp_log
   	<include refid="whereQuery"></include>
   </select>
   
    <insert id="insertLog" parameterType="empLog" >
	insert into emp_log
	(user_id,type,log_content,create_by,create_time,update_by,update_time)
	values(
	#{userId},#{type},#{logContent},#{createBy},now(),#{updateBy},now()
	)
	</insert>
	<select id="selectLog" resultType="com.jx.entity.EmpLog">
	select id as id,user_id as userId,type as type,log_content as logContent,
		   create_by as createBy, create_time as createTime,update_by as updateBy,
		   update_time as updateTime
	from emp_log 
	<include refid="whereQuery"></include>
	order by create_time desc 
	limit #{startIndex},#{pageSize}
	</select>
	<delete parameterType="java.lang.String" id="deleteLog">
	delete from emp_log where create_time &lt;  #{datetime} 
	</delete>

<!-- 查询当前日志数 -->
	<!-- 查询当前日志数 -->
	<select id="selectLogNum"  resultType="java.lang.Integer">
	select count(id)
	from emp_log 
	</select>
	
	<!-- 根据指定id删除日志 -->
	<delete id="deleteLogById" parameterType="java.lang.Integer">
		delete from emp_log
		where id = #{id} 
	</delete>
</mapper>