<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neo.mapper.LoginMapper" >
	<select id="login" resultType="java.lang.Integer"  >
       SELECT 
       count(id)
	   FROM t_veinfeat
	   where user_id = #{userId}
    </select>
    
    <select id="selectVeinByUserId" parameterType="java.lang.String" resultType="com.jx.entity.VeinFeat">
    select
     v.user_id as userId,v.vein_feat as veinFeat
     from t_veinfeat v
     where v.user_id=#{userId}
    </select>
   
   <select id="selectVein" parameterType="java.lang.String" resultType="com.jx.entity.VeinFeat">
    select
     v.user_id as userId,v.vein_feat as veinFeat
     from t_veinfeat v
    </select>

    <select id="selectVeinByGroupId" parameterType="java.lang.String" resultType="com.jx.entity.VeinFeat">
     select
     v.user_id as userId,v.vein_feat as veinFeat
     from t_veinfeat v
     where v.user_id in
      <foreach collection="array" open="(" close=")" separator="," item="array">
            #{array}
        </foreach>
     
    </select>   

</mapper>