<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neo.mapper.UserInfoMapper" >
	
   <sql id="whereQuery">
		<where>
			<if test="userId!=null and userId!=''">
				user_id = #{userId}
			</if>
		</where>   
   </sql>
   
   <!-- 查询管理员总数 -->
   <select id="userInfoRowCount" parameterType="java.lang.String" resultType="java.lang.Integer">
   	select count(id)
   	from user_info
   	<include refid="whereQuery"></include>
   </select>
   <!-- 检查userInfo -->
  <select id="checkUserInfo" parameterType="java.lang.String" resultType="java.lang.Integer">
   	select count(user_id) 
		from user_info
		where user_id = #{userId} 
   </select>
  
   <!-- 管理员 模块-->
   <insert id="insertUserInfo" parameterType="java.lang.String" >
       INSERT INTO 
       	user_info
       		(user_id,name,password) 
       	VALUES
       		(#{userId},'普通管理员',#{password})
    </insert>
  	<select id="selectUInfoAll" parameterType="java.lang.Integer" resultType="com.jx.entity.UserInfo" >
       select
       user_id as userId,name as name, password as password
       from user_info 
       <include refid="whereQuery"></include>
       limit #{startIndex},#{pageSize}
    </select>
  	
    <delete id="deleteUInfoById" parameterType="java.lang.String" >
       DELETE FROM
       		 user_info 
       WHERE 
       		 user_id =#{userId}
    </delete>
    <delete id="deleteUInfoByIds" parameterType="java.lang.String" >
       DELETE FROM
       		 user_info 
       WHERE 
       		 user_id in
       	<foreach collection="array" open="(" close=")" separator="," item="ids">
            #{ids}
        </foreach>
    </delete>
	
	<select id="check" resultType="com.jx.entity.UserInfo">
		select user_id as userId,name as name,password as password
		from user_info
		where user_id = #{userId} and password = #{password}
	</select>       

	<!-- 修改密码 -->
	<update id="upDatapws" parameterType="java.lang.String">
		update user_info
		set password = #{pws}
		where user_id = #{userId}	
	</update>  
    
    <!-- 查询管理员数 -->
    <select id="selectUInfoNum" resultType="java.lang.Integer">
		select count(id)
		from user_info
	</select> 
    
    

</mapper>