<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>静脉特征注册</title>
<link  href="./css/logAndR.css" rel="stylesheet" type="text/css" />
<script src="./jquery/jquery-1.7.1.js"></script>
<script src="./js/jxWebSDK.js"></script>
<script type="text/javascript">
var capTimer;
var capState;
var regState;
function regVein()
{
	var feat = jxCapFeat;
	var res = jxCapRes;
	if(regState == 0)
	{
		document.getElementById("regVein").innerHTML = "第" + (regNum + 1) + "次采集，请放入手指";
		jxCapVeinFeat();
		regState = 1;
		return;
	}

	else if(regState == 1)
	{
		if(jxInCapProcess == true)
			return;
		if(jxCapRes == 0){
			document.getElementById("regVein").innerHTML = "第" + (regNum + 1) + "次采集完成，请移开手指";
			feat_list.push(jxCapFeat);
			regNum = regNum + 1;
			if(regNum == 3)
				regState = 3;
			else
				regState = 2;
			return;
		}else{
			document.getElementById("regVein").innerHTML = ERRMSG[-jxCapRes];
			regError(jxCapRes);
			return;
		}
		else if(regState == 2)
		{
			res = jxIsFingerDetected();
			if(res == 1)
			{
				return;
			}
			else if(res == 0)
			{
				regState = 0;
				return;
			}else
			{
				document.getElementById("regVein").innerHTML = ERRMSG[-res];
				regError(res);
				return;
			}
			else if(regState == 3)
			{
				/*
				if(jxVerifyVeinFeat(feat_list[0], feat_list[1]) == 1)
					document.getElementById("spanRegState").innerHTML = "指静脉注册成功";
				else
					document.getElementById("spanRegState").innerHTML = "指静脉不一致";
				*/
				/* var url = "registe1";
				var userId = $("#userId").val();
				debugger;
				console.log(jxCapFeat);
				var params = {"userId":userId};
				params.feat_list=feat_list;
				$.post(url,params,function(result){
					if(result.code==2){//异步请求成功了
						 alert(result.msg);//ok
						 console.log(jxCapFeat);
					 }else{//请求过程出现异常
						 alert(result.msg);
					 }
				}) */
				window.clearInterval(capTimer);
					
			}
		  }
		
		else if(res==-2){
			alert("设备打开出错");
			window.clearInterval(capTimer);
			return;
		}else
		if(res==-3){
			alert("用户30秒内未放置，操作超时");
			window.clearInterval(capTimer);
			return;
		}else
		if(res==-5){
			alert("检测手指出错");
			window.clearInterval(capTimer);
			return;
		}else
		if(res==-6){
			alert("图像采集失败");
			window.clearInterval(capTimer);
			return;
		}else
		if(res==-7){
			alert("手指过早离开，采集失败");
			window.clearInterval(capTimer);
			return;
		}else
		if(res==-8){
			alert("图像质量低");
			window.clearInterval(capTimer);
			return;
		}else
		if(res==-101){
			alert("指静脉服务连接异常");
			window.clearInterval(capTimer);
			return;
		}
	}
}

function doRegVein(){
	//检查插件是否启动
	var exsit = jxIsServerExsit();
	if(exsit==-101){
		document.getElementById("regVein").innerHTML ="指静脉插件未启动";
		return;
	}
	
	//检测设备连接
	var connected = jxIsFVDConnected();
	if(connected==0){
		document.getElementById("regVein").innerHTML = "指静脉设备未连接";
		return;
	}
	if(connected==-101){
		document.getElementById("regVein").innerHTML ="指静脉服务连接异常";
		return;
	}
	//检测手指
	
	//注册
	capState = 0;
	capTimer = setInterval("regVein()", 30);

}

</script>
</head>
<body>
	<div class="header" id="head">
		<div class="title">静脉特征注册</div>
	</div>
	<div class="wrap" id="wrap">
		<div class="logGet">
			<!-- 头部提示信息 -->
			<div class="logD logDtip">
				<p class="p1">注册</p>
			</div>
			<!-- 输入框 -->
			<div class="lgD">
				<p class="p2" >用户id</p>
			</div>
			<div class="lgD">
				<input id="userId" name="uname" value="请输入用户ID" />
			</div>
			<div class="logC" id="regVein">
				<button onclick="doRegVein()">静脉注册</button>
			</div>
		</div>
	</div>
</body>
</html>