<!DOCTYPE html>
<html style="height: 100%;">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>指静脉后台管理系统</title>
    <script type="text/javascript" src="./jquery/jquery-1.7.1.js"></script>
    <style>
        * {
            margin: 0px;
            padding: 0px;
            font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
        }

        .click {
            cursor: pointer;
        }

        .active {
            border-left: 4px solid #19aa8d;
            background-color: #293846;
            color: #fff;
        }

        .hover {
            background-color: gainsboro !important;
        }

        select {
            border: 1px solid gainsboro;
            color: #777;
        }

        /*左边导航栏*/
        .navigation {
            width: 200px;
            height: 100%;
            text-align: center;
            background-color: #2E4251;
            overflow: hidden;
        }

        .admin-information {
            position: relative;
            height: 120px;
        }

        .nav-list {
            font-size: 16px;
            color: #A3B1BB;
            font-weight: 600;
        }

        .nav-list li {
            padding: 10px;
        }

        .nav-list li:hover {
            background-color: #293846;
            color: #fff;
        }

        /*右边信息*/
        .detail {
            height: 100%;
            flex-grow: 1;
            overflow: auto;
            background-color: #F4F4F5;
        }

        /*右边信息头部*/
        .detail .detail-head {
            height: 50px;
            background-color: #F4F4F5;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0px;
            border-bottom: 1px solid #293B47;
        }

        .detail .detail-head .show-detail {
            width: 35px;
            height: 32px;
            margin: 0px 20px;
            /*border: 1px solid #1ab394;*/
            border-radius: 5px;
            /*background-color: #00D297;*/
            background-image: url("./detail.png");
            background-size:35px auto;
        }
        .detail .detail-head .show-detail:hover {
           background-color: #C5C5C5;
        }

        /*右边信息主体*/
        .detail-body {
            height: 100%;
            padding: 20px;
            font-size: 16px;
            color: #676a6c;
            background-color: #F4F4F5;
            overflow: auto;
            display: none;
        }

        .body-title {
            border-width: 4px 0 0;
            margin-bottom: 0;
            padding: 14px 15px 7px;
            min-height: 26px;
            border-style: solid solid none;
            border-color: #e7eaec;
            background-color: white;
            margin-top: 10px;
        }

        /*人员管理表格信息 begin*/
        .body-information {
            padding: 15px 20px 20px;
            background-color: #fff;
            border-top: 1px solid #e7eaec;
            color: #A3B1BB;
            /*display: none;*/

        }

        .body-operate {
            color: #A3B1BB;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0px 0px 20px;
        }

        .body-operate button {
            width: 80px;
            height: 35px;
            border: none;
            border-radius: 5px;
            background-color: gainsboro;
            cursor: pointer;
            color: darkolivegreen;
        }

        .body-operate input {
            height: 25px;
            border: 1px solid gainsboro;
            border-radius: 3px;
            padding: 0px 5px;
        }

        .body-table {
            width: 100%;
            border: 1px solid #2E4251;
            border-collapse: collapse;
        }

        .body-table th {
            border: 1px solid gainsboro;
            padding: 10px 5px;
            white-space: nowrap;
            overflow: auto;
        }

        .body-table tbody tr:nth-child(odd) {
            background-color: #FAFAFA;
        }

        /*人员管理表格信息 end*/
    </style>
</head>
<body style="height: 100%">
<div style="height: 100%;display: flex">
    <div class="navigation">
        <div class="admin-information">
            <div style="position: absolute;height: 40px;top: 0;left: 0;right: 0;bottom: 0;margin: auto;">
                <div id="people" style="color: #DFE4ED;width: 110px;overflow: hidden;margin: auto;"></div>
                <div class="click" style="color: #8095a8;font-size: 14px">退出</div>
            </div>
        </div>
        <ul class="nav-list">
            <li class="click">
                <img src="./person.png" alt=""
                     style="width:26px;height: 22px;vertical-align: bottom"/>
                <span style="margin: 10px;">人员管理</span>
            </li>
            <li class="click">
                <img src="./admin.png" alt=""
                     style="width:26px;height: 22px;vertical-align: bottom"/>
                <span style="margin: 10px;">管理人员</span>
            </li>
            <li class="click">
                <img src="./data.png" alt=""
                     style="width:26px;height: 22px;vertical-align: bottom"/>
                <span style="margin: 10px;">系统日志</span>
            </li>
            <li class="click">
                <img src="./register.png" alt=""
                     style="width:26px;height: 22px;vertical-align: bottom"/>
                <span style="margin: 10px;">人员注册</span>
            </li>
            <li class="click">
                <img src="./setting.png" alt=""
                     style="width:26px;height: 22px;vertical-align: bottom"/>
                <span style="margin: 10px;">系统设置</span>
            </li>
        </ul>
    </div>
    <div class="detail">
        <!-- 右边信息头部 begin-->
        <div class="detail-head">
            <div class="show-detail click" onclick="show()"></div>
            <div style="color: #A3B1BB;font-size: 32px;font-weight: bold;">指静脉后台管理系统</div>
            <div class="show-detail" style="opacity: 0"></div>
        </div>
        <!-- 右边信息头部 end-->
        <!-- 右边信息主体 begin-->
        <!-- div存储各个导航栏对应的信息-->
        <div style="height: 100%;;position: relative;background-image: url( ./image/trianglify.png);background-repeat:no-repeat;">
            <div class="detail-body"
                 style="height: 50px;text-align: center;font-size:38px;display: block;background-color: transparent;position: absolute;top: -20px;left: 0;right: 0;bottom: 0;margin: auto">
                欢迎使用指静脉后台管理系统
            </div>
            <!--人员管理页面-->
            <div class="detail-body detail-body-1">
                <div class="body-title">
                    人员列表
                    <div  id="veinnum" style="float: right">已注册用户:124,已注册手指:198</div>
                </div>
                <div class="body-information">
                    <div class="body-operate">
                        <button onclick="qx()">全选</button>
                        <button onclick="dellist()">批量删除</button>
                        <input id="kw" type="text" placeholder="输入用户ID搜索"></input>
                        <button onclick="doFindUserId()">搜索</button>
                    </div>
                    <table class="body-table">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>用户(userId)</th>
                            <th>分组(groupId)</th>
                            <th>删除</th>
                        </tr>
                        </thead>
                        <tbody id="tbodyId">
                        <tr>
                            <th>
                                <input type="checkbox"></input>
                            </th>
                            <th>rtfgbhdrgvnujhnvunnvwvnwer</th>
                            <th>rtfgn</th>
                            <th class="click" onclick="del(this)">删除</th>
                        </tr>
                        <tr>
                            <th>
                                <input type="checkbox"></input>
                            </th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th class="click" onclick="del(this)">删除</th>
                        </tr>
                        <tr>
                            <th>
                                <input type="checkbox"></input>
                            </th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th class="click" onclick="del(this)">删除</th>
                        </tr>
                        <tr>
                            <th>
                                <input type="checkbox"></input>
                            </th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th class="click" onclick="del(this)">删除</th>
                        </tr>
                        <tr>
                            <th>
                                <input type="checkbox"></input>
                            </th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th class="click" onclick="del(this)">删除</th>
                        </tr>
                        <tr>
                            <th>
                                <input type="checkbox"></input>
                            </th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th class="click" onclick="del(this)">删除</th>
                        </tr>
                        <tr>
                            <th>
                                <input type="checkbox"></input>
                            </th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th class="click" onclick="del(this)">删除</th>
                        </tr>
                        <tr>
                            <th>
                                <input type="checkbox"></input>
                            </th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th class="click" onclick="del(this)">删除</th>
                        </tr>
                        <tr>
                            <th>
                                <input type="checkbox"></input>
                            </th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th class="click" onclick="del(this)">删除</th>
                        </tr>
                        <tr>
                            <th>
                                <input type="checkbox"></input>
                            </th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th class="click" onclick="del(this)">删除</th>
                        </tr>
                        <tr>
                            <th>
                                <input type="checkbox"></input>
                            </th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th class="click" onclick="del(this)">删除</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 管理员页面-->
            <div class="detail-body detail-body-2">
                <div class="body-title">
                    管理员列表
                    <div style="float: right" id="sysNum">管理员数:64</div>
                </div>
                <div class="body-information">
                    <div class="body-operate">
                        <button onclick="qx()">全选</button>
                        <button onclick="dellist()">批量删除</button>
                        <input id="kw" type="text" placeholder="输入用户ID搜索"/>
                        <button>搜索</button>
                    </div>
                    <table class="body-table">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>用户(userId)</th>
                            <th>分组(groupId)</th>
                            <th>删除</th>
                        </tr>
                        </thead>
                        <tbody id="userInfotBody">
                        <tr>
                            <th>
                                <input type="checkbox"></input>
                            </th>
                            <th>rtfgbhdrgvnujhnvunnvwvnwer</th>
                            <th>rtfgn</th>
                            <th class="click" onclick="del(this)">删除</th>
                        </tr>
                        <tr>
                            <th>
                                <input type="checkbox"></input>
                            </th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th class="click" onclick="del(this)">删除</th>
                        </tr>
                        <tr>
                            <th>
                                <input type="checkbox"></input>
                            </th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th class="click" onclick="del(this)">删除</th>
                        </tr>
                        <tr>
                            <th>
                                <input type="checkbox"></input>
                            </th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th class="click" onclick="del(this)">删除</th>
                        </tr>
                        <tr>
                            <th>
                                <input type="checkbox"></input>
                            </th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th class="click" onclick="del(this)">删除</th>
                        </tr>
                        <tr>
                            <th>
                                <input type="checkbox"></input>
                            </th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th class="click" onclick="del(this)">删除</th>
                        </tr>
                        <tr>
                            <th>
                                <input type="checkbox"></input>
                            </th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th class="click" onclick="del(this)">删除</th>
                        </tr>
                        <tr>
                            <th>
                                <input type="checkbox"></input>
                            </th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th class="click" onclick="del(this)">删除</th>
                        </tr>
                        <tr>
                            <th>
                                <input type="checkbox"></input>
                            </th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th class="click" onclick="del(this)">删除</th>
                        </tr>
                        <tr>
                            <th>
                                <input type="checkbox"></input>
                            </th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th class="click" onclick="del(this)">删除</th>
                        </tr>
                        <tr>
                            <th>
                                <input type="checkbox"></input>
                            </th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th class="click" onclick="del(this)">删除</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 系统日志页面-->
            <div class="detail-body detail-body-3">
                <div class="body-title">
                    系统日志
                    <div style="float: right" id="logNum">日志数量:3596</div>
                </div>
                <div class="body-information">
                    <div class="body-operate">
                        <div style="padding: 20px;">
                            <label for="star" style="margin: 0px 10px 0px 20px">开始时间:</label>
                            <select id="star">
                                <option>156486</option>
                                <option>55656</option>
                            </select>
                            <label for="end" style="margin:  0px 10px 0px 20px">截止时间:</label>
                            <select id="end">
                                <option>5256</option>
                                <option>52556</option>
                            </select>
                        </div>
                        <button onclick="doFindLog()">搜索</button>
                    </div>
                    <table class="body-table">
                        <thead>
                        <tr>
                            <!--时间，用户，操作类型（登陆后台，添加用户，删除用户，添加管理员，删除管理员，给用户添加指静脉），对象（对于添加或删除用户等需要记录下新添加的用户ID），用户IP-->
                            <th>时间</th>
                            <th>用户</th>
                            <th>影响对象</th>
                            <th>用户IP</th>
                            <th>删除</th>
                        </tr>
                        </thead>
                        <tbody id="logtBody">
                        <tr>
                            <th>sdgvb</th>
                            <th>rtfgbhdrgvnujhnvunnvwvnwer</th>
                            <th>rtfgn</th>
                            <th>rtfgn</th>
                            <th>删除</th>
                        </tr>
                        <tr>
                            <th>sdgvb</th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th>rtfgn</th>
                            <th>删除</th>
                        </tr>
                        <tr>
                            <th>sdgvb</th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th>rtfgn</th>
                            <th>删除</th>
                        </tr>
                        <tr>
                            <th>sdgvb</th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th>rtfgn</th>
                            <th>删除</th>
                        </tr>
                        <tr>
                            <th>sdgvb</th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th>rtfgn</th>
                            <th>删除</th>
                        </tr>
                        <tr>
                            <th>sdgvb</th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th>rtfgn</th>
                            <th>删除</th>
                        </tr>
                        <tr>
                            <th>sdgvb</th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th>rtfgn</th>
                            <th>删除</th>
                        </tr>
                        <tr>
                            <th>sdgvb</th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th>rtfgn</th>
                            <th>删除</th>
                        </tr>
                        <tr>
                            <th>sdgvb</th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th>rtfgn</th>
                            <th>删除</th>
                        </tr>
                        <tr>
                            <th>yhbgui</th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th>rtfgn</th>
                            <th>删除</th>
                        </tr>
                        <tr>
                            <th>sdgvb</th>
                            <th>rtfgbh</th>
                            <th>rtfgn</th>
                            <th>rtfgn</th>
                            <th>删除</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 人员注册页面-->
            <div class="detail-body detail-body-4">
                <div class="body-title">人员注册</div>
                <div class="body-information">
                    <div class="body-operate" style="padding:0px">
                        <input id="new-pu" type="text" placeholder="用户ID"></input>
                        <input id="new-pg" type="text" placeholder="分组ID"></input>
                        <button onclick="save()">添加</button>
                    </div>
                </div>
                <div class="body-title">管理员注册</div>
                <div class="body-information">
                    <div class="body-operate" style="padding:0px">
                        <input id="new-gu" type="text" placeholder="管理员账号"></input>
                        <input id="new-gg" type="text" placeholder="管理员密码"></input>
                        <button onclick="uifadd()">添加</button>
                    </div>
                </div>
                <div class="body-title">指静脉注册</div>
                <div class="body-information">
                    <div class="body-operate" style="padding:0px">
                        <input id="uid" type="text" placeholder="用户ID"/>

                        <div></div>
                    </div>
                </div>
                <div class="body-information" style="border: none">
                    <div class="body-operate" style="padding:0px">
                        <button onclick="search()">检索</button>
                        <button>添加指静脉</button>
                        <button onclick="cleanvein()">清空指静脉</button>
                    </div>
                </div>
                <div class="body-information" style="border: none">
                    <div class="body-operate" style="padding:0px">
                        <div></div>
                    </div>
                </div>
            </div>
            <!-- 系统设置页面-->
            <div class="detail-body detail-body-5">
                <div class="body-title">密码修改</div>
                <div class="body-information">
                    <div class="body-operate" style="padding:0px">
                        <input id="new-pw" type="text" placeholder="新密码"></input>
                        <button onclick="upDatepws()">修改</button>
                    </div>
                </div>
                <div class="body-title">日志管理</div>
                <div class="body-information">
                    <div class="body-operate" style="padding:0px">
                        <div>
                            <label for="data-setting" style="margin: 0px 10px 0px 0px">日志保存时间:</label>
                            <select id="data-setting">
                                <option>60</option>
                                <option>75</option>
                                <option>90</option>
                            </select>
                        </div>
                        <button>设置</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 右边信息主体 end-->
    </div>
</div>
<script>
    $(document).ready(function () {
    	selectUInfoNum();
    	logNum();
    	people();
    	veinnum();
        //删除操作下划线
        $(".body-table tbody th:last-child").css("text-decoration", "underline");
        //表单隔行变色
        $(".body-table tbody th").hover(function () {
            $(this).parent().addClass("hover");
        }, function () {
            $(this).parent().removeClass("hover");
        })
        //导航栏点击事件
        $(".nav-list li").click(function () {
            $(this).addClass("active").siblings().removeClass("active");
            if ($.trim($(this).text()) == "人员管理") {
                $(".detail-body-1").slideDown().siblings().css("display", "none");
            }
            if ($.trim($(this).text()) == "管理员") {
                $(".detail-body-2").slideDown().siblings().css("display", "none");
            }
            if ($.trim($(this).text()) == "系统日志") {
                $(".detail-body-3").slideDown().siblings().css("display", "none");
            }
            if ($.trim($(this).text()) == "人员注册") {
                $(".detail-body-4").slideDown().siblings().css("display", "none");
            }
            if ($.trim($(this).text()) == "系统设置") {
                $(".detail-body-5").slideDown().siblings().css("display", "none");
            }
        })
    })
    //导航显示信息
    function show() {
        if ($(".navigation").width() > 50) {
            $(".nav-list li span").css("display", "none");
            $(".navigation").animate({
                width: '50px'
            });
            $(".admin-information").animate({
                opacity: '0'
            })
        } else {
            $(".nav-list li span").css("display", "inline");
            $(".navigation").animate({
               checkwidth: '200px'
            });
            $(".admin-information").animate({
                opacity: '1'
            })
        }
    }

    //添加员工
    function save() {
        //获取值
        $("#errmsg").html("");
        var userId = $("#new-pu").val();
        var groupId = $("#new-pg").val();
        //表单验证
        if (!userId) {
            alert("用户ID不能为空");
            return;
        }
       
        //添加
        doAdd(userId,groupId);
    }
    
     //添加管理员
     function uifadd() {
    	// $("#errmsg").html("");
    	 var userId = $("#new-gu").val();
         var password = $("#new-gg").val();
         if (!userId) {
            alert("管理员账号不能为空");
             return;
         }
         if (!password) {
            alert("管理员密码不能为空");
             return;
         }
         url="insertUserInfo";
         var param = {userId:userId,name:"普通管理员",password:password};
 		
         $.post(url,param,function(result){
 			if(result.code==0){
 				alert("添加管理员成功");
 				$("#new-gu").val('');
 				 $("#new-gg").val('');
 			}else{
 				alert(result.msg);
 			}
 		});
         
     }
     
     //检索
     function search() {
    	 $("#errmsg").html("");
    	 var userId = $("#uid").val();
         url="checkUser";
         var param = {userId:userId};
 		
         $.post(url,param,function(result){
 			if(result.code==0){
 				alert("检索成功");
 			}else{
 				alert(result.msg);
 			}
 		});
         
     }
     function cleanvein(){
    	// $("#errmsg").html("");
    	 var userId = $("#uid").val();
    	 url="deleteVeinByEmpId";
    	 var param={userId:userId};
    	 $.post(url,param,function(result){
  			if(result.code==0){
  				alert("清空成功");
  			}else{
  				alert(result.msg);
  			}
  		});
           
     }
 
    //删除
    function del(a) {
        if (confirm("您是否删除本条数据！！！")) {
        	var url = "deleteById";
        	var param={};
        	$.post(url,param,function(result){
        		if(result.code==0){
        			alert("删除成功!");
        		}else{
        			alert(result.msg);
        		}
        			doFind();
        	});
        }
    }

    //批量删除
    function dellist() {
        var ids = $(".body-table :checked");
        if (ids.length == 0) {
            alert("请选择一条数据");
        }
        var userIds;
        $("#tbodyId input[name='checkId']").each(function () {
        	if($(this).prop("checkId")){//判断此input对象是否被选中
    			if(userIds==""){
    				userIds += $(this).val();
    			}else{
    				userIds += ","+$(this).val(); 
    			}
    		}
        })
        var url = "deleteUsers";
        var param = {ids:userIds};
        $.post(url,param,function(result){
        	if(result.code==0){
        		alert(result.msg);
        	}else{
        		alert(result.msg);
        	}
        	doFind();
        });
    }
	
    function doFind(){
    	var url = "selectUser";
    	$.post(url,function(result){
    		if(result.code==0)
    			setTableBodyRows(result.data);
    	});
    	
    }
    
    //全选
    function qx() {
        var ids = $(".body-table :checkbox");
        ids.prop("checked", true);
    }
    function doAdd(userId,groupId){
		var url = "insertEmp";
		//var userId = $("#userId").val();
		//var groupId = $("#groupId").val();
		var param = {userId:userId,groupId:groupId};
		$.post(url,param,function(result){
			if(result.code==0){
				alert("添加员工成功");
				 $("#new-pu").val('');
			     $("#new-pg").val('');
				doFind();
			}else{
				alert(result.msg);
			}
		});
	}
  //显示登陆的名字
	var temp;
	function people(){
		//debugger;
		var url="people";
		var param={};
		$.ajax({ url: "people", dataType : 'json',
			contentType: "application/json;charset=utf-8",
			//async : true,
			 success: function(result){
				 temp=result;
				 $("#people").html(temp.data);
	      }});
	}
	//显示已注册用户 已注册手指
	var uandv;
	function veinnum(){
		debugger;
		var url="selectUAndV";
		var param={};
		$.post({ url: "people", dataType : 'json',
			contentType: "application/json;charset=utf-8",
			//async : true,
			 success: function(result){
				 uandv=result;
				 console.log(uandv.data);
				 $("#veinnum").html(uandv.data);
	      }});
	}
 
	/* function setTableBodyRows(result){
		var tBody=$("#tbodyId");
		tBody.empty();
		for(var i in result){
			var tr=$("<tr></tr>");
			 tr.data("id",result[i].userId);
			 //2.2构建每行th对象(一行有多个)
			 //var td0=$("<th></th>");
			 //....
			 //2.3在th对象内容填充具体数据
			 //th0.append(result[id].id);
			 //....
			 var tds="<th><input type='checkbox' name='checkId' value='"+result[i].id+"'/></th>"+
			         "<th>"+result[i].userId+"</th>"+
			         "<th>"+result[i].groupId+"</th>"+
			         "<th class='lick' onclick='del(this)'>删除</th>";
			 //2.4将th添加到tr对象中(一行要放多个)
			 tr.append(tds);
			 //2.5将tr追加到tbody中
			 tBody.append(tr);
			
		}
	} */
	function doFindUserId(){
		var url = "selectUserByuserId";
		var userId = $("#kw").val();
		var param = {userId:userId};
		$.post(url,param,function(result){
			if(result.code==0){
				setTableBodyRows(result.data);
			}
		});
	}
	
	//日志搜索
	function doFindLog(){
		var url = "selectLog";
		var param = {};
		param.startTime = $("#startTime").val();
		param.endTime = $("#endTime").val();
		$.post(url,param,function(result){
			if(result.code==0){
				setLogBody(result.data);
			}else{
				alert(result.msg);
			}
		});
	}
	
	//删除日志
	function deleteLog(){
		var url = "deleteLog";
		var param = {id};
		$.post(url,param,function(result){
			if(result.code==0){
				alert(result.msg);
				doFindLog();
			}
		});
	}
	
	//显示当前日志数
	function logNum(){
		debugger;
		var url = "logNum";
		$.getJSON(url,function (result){
			if(result.code==0){
				$("#logNum").html("日志数量:"+result.data);
			}
		});
	}
	
	function setLogBody(result){
		var tBody=$("#logtBody");
		tBody.empty();
		for(var i in result){
			var tr=$("<tr></tr>");
			 tr.data("id",result[i].id);
			 //2.2构建每行th对象(一行有多个)
			 //var td0=$("<th></th>");
			 //....
			 //2.3在th对象内容填充具体数据
			 //th0.append(result[id].id);
			 //....
			 var tds="";	
			         /* "<th><input type='checkbox' name='checkId' value='"+result[i].id+"'/></th>"+
			         "<th>"+result[i].userId+"</th>"+
			         "<th>"+result[i].groupId+"</th>"+
			         "<th class='lick' onclick='del(this)'>删除</th>"; */
			 //2.4将th添加到tr对象中(一行要放多个)
			 tr.append(tds);
			 //2.5将tr追加到tbody中
			 tBody.append(tr);
			
		}
	}
	
	//修改密码
	function upDatepws(){
		var url = "upDatapws";
		var pws = $("#new-pw").val();
		var param = {pws:pws};
		$.post(url,param,function(result){
			if(result.code==0){
				alert(result.msg);
			}else{
				alert(result.msg);
			}
		});
	}
	
	//查询当前管理员数
	function selectUInfoNum(){
		var url = "selectUInfoNum";
		$.getJSON(url,function(result){
			if(result.code==0){
				$("#sysNum").html(result.data);
			}
		});
	}
	
	//管理员搜索
	function doFindeUserInfo(){
		var url = "selectUInfoByUserId";
		var userId = $("#userInfo").val();
		$.post(url,param,function (result){
			if(result.code){
				setUserInfo(result.data);
			}else{
				alert(result.msg);
			}
		});
	}
	//设置管理员表格
	function setUserInfo(result){
		var tBody=$("#userInfotBody");
		tBody.empty();
		for(var i in result){
			var tr=$("<tr></tr>");
			 tr.data("id",result[i].id);
			 var tds="";	
			         /* "<th><input type='checkbox' name='checkId' value='"+result[i].id+"'/></th>"+
			         "<th>"+result[i].userId+"</th>"+
			         "<th>"+result[i].groupId+"</th>"+
			         "<th class='lick' onclick='del(this)'>删除</th>"; */
			 //2.4将th添加到tr对象中(一行要放多个)
			 tr.append(tds);
			 //2.5将tr追加到tbody中
			 tBody.append(tr);
		}
	}
	
</script>
</body>
</html>