<!DOCTYPE html>
<html style="height: 100%;">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>指静脉后台管理系统</title>
    <script type="text/javascript" src="./jquery/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
    <script type="text/javascript" src="./js/userInfo.js"></script>
    <script type="text/javascript" src="./js/user.js"></script>
    <script type="text/javascript" src="./js/log.js"></script>
    <script type="text/javascript" src="./js/jxWebSDK.js"></script>
    <style>
        * {
            margin: 0px;
            padding: 0px;
            font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
        }

        .click {
            cursor: pointer;
        }

        .active {
            border-left: 4px solid #19aa8d;
            background-color: #293846;
            color: #fff;
        }

        .hover {
            background-color: gainsboro !important;
        }

        select {
            border: 1px solid gainsboro;
            color: #777;
        }

        thead th{
            font-weight: 900;
            font-size: 18px;
            color: #999;
        }

        /*左边导航栏*/
        .navigation {
            width: 200px;
            height: 100%;
            text-align: center;
            background-color: #2E4251;
            overflow: hidden;
        }

        .admin-information {
            position: relative;
            height: 120px;
        }

        .nav-list {
            font-size: 16px;
            color: #A3B1BB;
            font-weight: 600;
        }

        .nav-list li {
            padding: 10px;
        }

        .nav-list li:hover {
            background-color: #293846;
            color: #fff;
        }

        /*右边信息*/
        .detail {
            height: 100%;
            flex-grow: 1;
            overflow: auto;
            background-color: #F4F4F5;
        }

        /*右边信息头部*/
        .detail .detail-head {
            height: 50px;
            background-color: #F4F4F5;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 0px 5px 0px;
        }

        .detail .detail-head .show-detail {
            width: 35px;
            height: 32px;
            margin: 0px 20px;
            /*border: 1px solid #1ab394;*/
            border-radius: 5px;
            /*background-color: #00D297;*/
            background-image: url("./detail.png");
            background-size: 35px auto;
        }

        .detail .detail-head .show-detail:hover {
            background-color: #C5C5C5;
        }

        /*右边信息主体*/
        .detail-body {
            height: 100%;
            padding: 10px 20px 20px;
            font-size: 16px;
            color: #676a6c;
            background-color: #F4F4F5;
            overflow: auto;
            display: none;
        }

        .body-title {
            border-width: 4px 0 0;
            margin-bottom: 0;
            padding: 14px 15px 7px;
            min-height: 26px;
            border-style: solid solid none;
            border-color: #e7eaec;
            background-color: white;
            margin-top: 10px;
        }

        /*人员管理表格信息 begin*/
        .body-information {
        	
            padding: 15px 20px 20px;
            background-color: #fff;
            border-top: 1px solid #e7eaec;
            color: #A3B1BB;
            /*display: none;*/

        }

        .body-operate {
            color: #A3B1BB;
            padding: 0px 0px 20px;
        }

        .body-operate button {
            width: 80px;
            height: 35px;
            border: none;
            border-radius: 5px;
            background-color: gainsboro;
            cursor: pointer;
            color: darkolivegreen;
            margin: 0px 20px;
        }

        #fy-1 button, #fy-2 button, #fy-3 button {
            margin: 0;
            width: 50px;
            height: 30px;
        }

        .body-operate input {
            height: 25px;
            border: 1px solid gainsboro;
            border-radius: 3px;
            padding: 0px 5px;
            margin: 0px 10px;
        }

        .body-operate .data input {
            width: 35px;
        }

        .body-table {
            width: 100%;
            border: 1px solid #2E4251;
            border-collapse: collapse;
        }

        .body-table th {
            border: 1px solid gainsboro;
            padding: 10px 5px;
            white-space: nowrap;
            overflow: auto;
        }

        .body-table tbody tr:nth-child(odd) {
            background-color: #FAFAFA;
        }

        /*人员管理表格信息 end*/
    </style>
</head>
<body style="height: 100%">
<div style="height: 100%;display: flex">
    <div class="navigation">
        <div class="admin-information">
            <div style="position: absolute;height: 40px;top: 0;left: 0;right: 0;bottom: 0;margin: auto;">
                <div id="people" style="color: #DFE4ED;width: 110px;overflow: hidden;margin: auto;"></div>
                <div class="click" style="color: #8095a8;font-size: 14px" onclick="loginOut()">退出</div>
            </div>
        </div>
        <ul class="nav-list">
            <li class="click">
                <img src="./person.png" alt=""
                     style="width:26px;height: 22px;vertical-align: bottom"/>
                <span style="margin: 10px;">用户管理</span>
            </li>
            <li class="click">
                <img src="./admin.png" alt=""
                     style="width:26px;height: 22px;vertical-align: bottom"/>
                <span style="margin: 10px;">管理人员</span>
            </li>
            <li class="click">
                <img src="./data.png" alt=""
                     style="width:26px;height: 22px;vertical-align: bottom"/>
                <span style="margin: 10px;">系统日志</span>
            </li>
            <li class="click">
                <img src="./register.png" alt=""
                     style="width:26px;height: 22px;vertical-align: bottom"/>
                <span style="margin: 10px;">人员注册</span>
            </li>
            <li class="click">
                <img src="./setting.png" alt=""
                     style="width:26px;height: 22px;vertical-align: bottom"/>
                <span style="margin: 10px;">系统设置</span>
            </li>
        </ul>
    </div>
    <div class="detail">
        <!-- 右边信息主体 begin-->
        <!-- div存储各个导航栏对应的信息-->
        <div style="height: 100%;;position: relative;background-image: url( ./image/trianglify.png);background-repeat:no-repeat;">
            <!-- 右边信息头部 begin-->
            <div class="detail-head">
                <div class="show-detail click" onclick="show()"></div>
                <div style="color: #A3B1BB;font-size: 32px;font-weight: bold;">指静脉后台管理系统</div>
                <div class="show-detail" style="opacity: 0"></div>
            </div>
            <!-- 右边信息头部 end-->
            <div class="detail-body"
                 style="height: 50px;text-align: center;font-size:38px;display: block;background-color: transparent;position: absolute;top: -20px;left: 0;right: 0;bottom: 0;margin: auto">
                欢迎使用指静脉后台管理系统
            </div>
            <!--人员管理页面-->
            <div class="detail-body detail-body-1">
                <!-- 右边信息头部 begin-->
                <div class="detail-head">
                    <div class="show-detail click" onclick="show()"></div>
                    <div style="color: #A3B1BB;font-size: 32px;font-weight: bold;">指静脉后台管理系统</div>
                    <div class="show-detail" style="opacity: 0"></div>
                </div>
                <!-- 右边信息头部 end-->
                <div class="body-title">
                    人员列表
                    <div id="veinnum" style="float: right"></div>
                </div>
                <div class="body-information" style="height:80%;overflow:auto;">
                    <div class="body-operate">
                        <button onclick="qx(1)">全选</button>
                        <button onclick="dellist(1)">批量删除</button>
                        <div style="float:right">
                            <input id="userkw" type="text" autocomplete = "off" placeholder="输入用户ID搜索"></input>
                            <button onclick="doFind()" style="
                                width: 50px;
                                height: 30px;
                                background-image: url(./search.png);
                                background-size: 35px 30px;
                                background-repeat: no-repeat;
                                vertical-align: bottom;
                                background-position: 50% top;"
                                    ></button>
                        </div>
                    </div>
                    <table class="body-table body-table-1">
                        <thead>
                        <tr>
                            <th>勾选</th>
                            <th>用户ID</th>
                            <th>分组ID</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="tbodyId">
                        </tbody>
                    </table>
                    <div id="fy-1" class="body-operate" 
                         style="padding: 20px 350px;display: flex;justify-content: space-around;align-items:center">
                        <button class="first" onclick="jumpToPage(this)"
                                style="background: url(./l-d-s.png) 50% 50% no-repeat;background-size: 30px 20px;background-color: gainsboro;"></button>
                        <button class="pre" onclick="jumpToPage(this)"
                                style="background: url(./l-s.png) 50% 50% no-repeat;background-size: 30px 20px;background-color: gainsboro;"></button>
                        <div>
                            跳转至
                            <input id="page1" type="text" autocomplete = "off" style="width:28px"/>
                            页
                        </div>
                        <button class="gotopage" onclick="jumpToPagedetail(this)">确定</button>
                        <button class="next" onclick="jumpToPage(this)"
                                style="background: url(./r-s.png) 50% 50% no-repeat;background-size: 30px 20px;background-color: gainsboro;"></button>
                        <button class="last" onclick="jumpToPage(this)"
                                style="background: url(./r-d-s.png) 50% 50% no-repeat;background-size: 30px 20px;background-color: gainsboro;"></button>
                        <div class="pageCount">总页数(1)</div>
                        <div class="pageCurrent">当前页(1)</div>
                    </div>
                </div>
            </div>
            <!-- 管理员页面-->
            <div class="detail-body detail-body-2">
                <!-- 右边信息头部 begin-->
                <div class="detail-head">
                    <div class="show-detail click" onclick="show()"></div>
                    <div style="color: #A3B1BB;font-size: 32px;font-weight: bold;">指静脉后台管理系统</div>
                    <div class="show-detail" style="opacity: 0"></div>
                </div>
                <!-- 右边信息头部 end-->
                <div class="body-title">
                    管理员列表
                    <div style="float: right" id="sysNum">管理员总数:64</div>
                </div>
                <div class="body-information" style="height:80%;overflow:auto;">
                    <div class="body-operate">
                        <button onclick="qx(2)">全选</button>
                        <button onclick="dellist(2)">批量删除</button>
                        <div style="float: right">
                            <input id="kw" type="text" autocomplete = "off" placeholder="输入管理员ID搜索"/>
                            <button style="
                                width: 50px;
                                height: 30px;
                                background-image: url(./search.png);
                                background-size: 35px 30px;
                                background-repeat: no-repeat;
                                vertical-align: bottom;
                                background-position: 50% top;"
                                onclick="doFindeUserInfo()"
                                    ></button>
                        </div>
                    </div>
                    <table class="body-table body-table-2">
                        <thead>
                        <tr>
                            <th>勾选</th>
                            <th>管理员ID</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="userInfotBody">
                        </tbody>
                    </table>
                    <div id="fy-2" class="body-operate" 
                         style="padding: 20px 350px;display: flex;justify-content: space-around;align-items:center">
                        <button class="first" onclick="jumpToPage(this)"
                                style="background: url(./l-d-s.png) 50% 50% no-repeat;background-size: 30px 20px;background-color: gainsboro;"></button>
                        <button class="pre" onclick="jumpToPage(this)"
                                style="background: url(./l-s.png) 50% 50% no-repeat;background-size: 30px 20px;background-color: gainsboro;"></button>
                        <div>
                            跳转至
                            <input id="page2" type="text" autocomplete = "off" style="width:28px"/>
                            页
                        </div>
                        <button class="gotopage" onclick="jumpToPagedetail(this)">确定</button>
                        <button class="next" onclick="jumpToPage(this)"
                                style="background: url(./r-s.png) 50% 50% no-repeat;background-size: 30px 20px;background-color: gainsboro;"></button>
                        <button class="last" onclick="jumpToPage(this)"
                                style="background: url(./r-d-s.png) 50% 50% no-repeat;background-size: 30px 20px;background-color: gainsboro;"></button>
                        <div class="pageCount">总页数(1)</div>
                        <div class="pageCurrent">当前页(1)</div>
                    </div>
                </div>
            </div>
            <!-- 系统日志页面-->
            <div class="detail-body detail-body-3">
                <!-- 右边信息头部 begin-->
                <div class="detail-head">
                    <div class="show-detail click" onclick="show()"></div>
                    <div style="color: #A3B1BB;font-size: 32px;font-weight: bold;">指静脉后台管理系统</div>
                    <div class="show-detail" style="opacity: 0"></div>
                </div>
                <!-- 右边信息头部 end-->
                <div class="body-title">
                    系统日志
                    <div style="float: right" id="logNum">日志总数:3596</div>
                </div>
                <div class="body-information" style="height:80%;overflow:auto;">
                    <div class="body-operate">
                        <div style="padding: 20px 0px;" class="data">
                            <label style="margin: 0px 10px 0px 20px">开始时间:</label>
                            <input id="star-year" type="text" maxlength="4"/>
                            <label for="star-year">年</label>
                            <input id="star-mouth" type="text" maxlength="2"/>
                            <label for="star-mouth">月</label>
                            <input id="star-day" type="text" maxlength="2"/>
                            <label for="star-day">日</label>
                            <label style="margin:  0px 10px 0px 60px">截止时间:</label>
                            <input id="end-year" type="text" maxlength="4"/>
                            <label for="end-year">年</label>
                            <input id="end-mouth" type="text" maxlength="2"/>
                            <label for="end-mouth">月</label>
                            <input id="end-day" type="text" maxlength="2"/>
                            <label for="end-day">日</label>
                            <button style="
                            float:right;
                            margin-top: -7px;
                            width: 50px;
                            height: 30px;
                            background-image: url(./search.png);
                            background-size: 35px 30px;
                            background-repeat: no-repeat;
                            vertical-align: bottom;
                            background-position: 50% top;"
                                    onclick="doFindLog()"></button>
                        </div>
                    </div>
                    <table class="body-table">
                        <thead>
                        <tr>
                            <th>日期</th>
                            <th>时间</th>
                            <th>用户</th>
                            <th>操作类型</th>
                            <th>描述</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="logtBody">
                        </tbody>
                    </table>
                    <div id="fy-3" class="body-operate" 
                         style="padding: 20px 350px;display: flex;justify-content: space-around;align-items:center">
                        <button class="first" onclick="jumpToPage(this)"
                                style="background: url(./l-d-s.png) 50% 50% no-repeat;background-size: 30px 20px;background-color: gainsboro;"></button>
                        <button class="pre" onclick="jumpToPage(this)"
                                style="background: url(./l-s.png) 50% 50% no-repeat;background-size: 30px 20px;background-color: gainsboro;"></button>
                        <div>
                            跳转至
                            <input id="page3" type="text" autocomplete = "off" style="width:28px"/>
                            页
                        </div>
                        <button class="gotopage" onclick="jumpToPagedetail(this)">确定</button>
                        <button class="next" onclick="jumpToPage(this)"
                                style="background: url(./r-s.png) 50% 50% no-repeat;background-size: 30px 20px;background-color: gainsboro;"></button>
                        <button class="last" onclick="jumpToPage(this)"
                                style="background: url(./r-d-s.png) 50% 50% no-repeat;background-size: 30px 20px;background-color: gainsboro;"></button>
                        <div class="pageCount">总页数(1)</div>
                        <div class="pageCurrent">当前页(1)</div>
                    </div>
                </div>
            </div>
            <!-- 人员注册页面-->
            <div class="detail-body detail-body-4">
                <!-- 右边信息头部 begin-->
                <div class="detail-head">
                    <div class="show-detail click" onclick="show()"></div>
                    <div style="color: #A3B1BB;font-size: 32px;font-weight: bold;">指静脉后台管理系统</div>
                    <div class="show-detail" style="opacity: 0"></div>
                </div>
                <!-- 右边信息头部 end-->
                <div class="body-title">人员注册</div>
                <div class="body-information">
                    <div class="body-operate" style="padding:0px">
                        <input id="new-pu" type="text" placeholder="用户ID"></input>
                        <input id="new-pg" type="text" placeholder="分组ID"></input>
                        <button onclick="save()">添加</button>
                        <span id="user-tip"></span>
                    </div>
                </div>
                <div class="body-title">管理员注册</div>
                <div class="body-information">
                    <div class="body-operate" style="padding:0px">
                        <input id="new-gu" type="text" placeholder="管理员账号"></input>
                        <input id="new-gg" type="text" placeholder="管理员密码"></input>
                        <button onclick="uifadd()">添加</button>
                        <span id="admin-tip"></span>
                    </div>
                </div>
                <div class="body-title">指静脉注册</div>
                <div class="body-information">
                    <div class="body-operate" style="padding:0px">
                        <input id="uid" type="text" placeholder="用户ID"/>
                        <span id="uvn" style="color: #3d3"></span>
                    </div>
                </div>
                <div class="body-information" style="border: none">
                    <div class="body-operate" style="padding:0px 10px">
                        <button  id="" style="margin-left: 0px;" onclick="search()">检索</button>
                        <button class="clbu" onclick="startReg()" style="display:none;">添加指静脉</button>
                        <button class="clbu" onclick="cleanvein()" style="display:none;">清空指静脉</button>
                    </div>
                </div>
                <div class="body-information" style="border: none">
                    <div class="body-operate" style="padding:0px">
                        <div id="msg" style="padding: 0px 10px;color: #3d3"></div>
                    </div>
                </div>
            </div>
            <!-- 系统设置页面-->
            <div class="detail-body detail-body-5">
                <!-- 右边信息头部 begin-->
                <div class="detail-head">
                    <div class="show-detail click" onclick="show()"></div>
                    <div style="color: #A3B1BB;font-size: 32px;font-weight: bold;">指静脉后台管理系统</div>
                    <div class="show-detail" style="opacity: 0"></div>
                </div>
                <!-- 右边信息头部 end-->
                <div class="body-title">密码修改</div>
                <div class="body-information">
                    <div class="body-operate" style="padding:0px">
                        <input id="new-pw" type="password" autocomplete='new-password' placeholder="新密码" onchange="proofread()"></input>
                        <input id="new-pw-agin" type="password" placeholder="再次输入新密码" onchange="proofread()"></input>
                        <span id="password-edit" style="color: #d33"></span>
                        <button style="float: right;margin-top: -4px; margin-right: 30px" onclick="upDatepws()">修改
                        </button>
                    </div>
                </div>
                <div class="body-title super">日志管理</div>
                <div class="body-information super">
                    <div class="body-operate" style="padding:0px">
                        <div style="margin: 10px;">
                            <label for="data-setting" style="margin: 0px 10px 0px 0px">日志保存时间:</label>
                            <select id="data-setting" >
                                <option value="30">30天</option>
                                <option value="60">60天</option>
                                <option value="180">半年</option>
                                <option value="365">一年</option>
                                <option value="1000000">永远</option>
                            </select>
                            <span id="setting-tip"></span>
                            <button  onclick="setting()" style="float: right;margin-top: -7px;">设置</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- 右边信息主体 end-->
    </div>
</div>
<script>
    //防止页面后退
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });
    $(document).ready(function () {
    	setTime();
        selectUInfoNum();
        logNum();
        people();
        veinnum();
        //删除操作下划线
        $(".body-table tbody th:last-child").css("text-decoration", "underline");
        //表单隔行变色
        $(".body-table tbody th").hover(function () {
            $(this).parent().addClass("hover");
        }, function () {
            $(this).parent().removeClass("hover");
        })
        /* //分页跳转
        $("#fy-1").on("click",
                ".pre,.next,.first,.last", jumpToPage()); */
        /* $("#fy-1 .gotopage,#fy-2 .gotopage,#fy-3 .gotopage").on("click", jumpToPagedetail()); */
        //导航栏点击事件
        $(".nav-list li").click(function () {
            $(this).addClass("active").siblings().removeClass("active");
            if ($.trim($(this).text()) == "用户管理") {
                $(".detail-body-1").slideDown(100).siblings().css("display", "none");
                doQuery();
            }
            if ($.trim($(this).text()) == "管理人员") {
                $(".detail-body-2").slideDown(100).siblings().css("display", "none");
                doQueryUserInfo();
            }
            if ($.trim($(this).text()) == "系统日志") {
                $(".detail-body-3").slideDown(100).siblings().css("display", "none");
                doQueryLog();
            }
            if ($.trim($(this).text()) == "人员注册") {
                $(".detail-body-4").slideDown(100).siblings().css("display", "none");
            }
            if ($.trim($(this).text()) == "系统设置") {
                $(".detail-body-5").slideDown(100).siblings().css("display", "none");
            }
        })
    })
    //设置时间 从数据库查询定时删除的时间
     function setTime(){
    	 var url="selectTime";
    	 $.post(url,function(result){
    		if(result.code==0){
    			$("#data-setting").val(result.data);
    			console.log(result.data);
    		} 
    	 });
     }
    //密码校验错误提示
    function proofread() {
        if ($("#new-pw").val() !== $("#new-pw-agin").val()) {
            $("#password-edit").html("两次密码输入不一致");
        } else {
            $("#password-edit").html("");
        }
    }

    //导航显示信息
    function show() {
        if ($(".navigation").width() > 50) {
            $(".nav-list li span").css("display", "none");
            $(".navigation").animate({
                width: '50px'
            });
            $(".admin-information").animate({
                opacity: '0'
            })
        } else {
            $(".nav-list li span").css("display", "inline");
            $(".navigation").animate({
                width: '200px'
            });
            $(".admin-information").animate({
                opacity: '1'
            })
        }
    }


    //检索
  function search() {
    	 $("#uvn").html("");
    	 var userId = $("#uid").val();
    	 
    	 if(userId){
    		 url="checkUser";
             var param = {userId:userId};
     		
             $.post(url,param,function(result){
     			if(result.code==0){
     				$("#uvn").html(result.data).css("color", "#3d3");
     				$(".clbu").css("display","inline");
     			}else{
     				$(".clbu").css("display","none");
     				$("#uvn").html("该用户不存在").css("color", "#d33");
     				
     				
     			}
     		});
    		 
    		return 
    	 }
    	 $("#uvn").html("请填写要检索的用户ID").css("color", "#d33");
		 $(".clbu").css("display","none");
        
         
     }
    function cleanvein() {
        // $("#errmsg").html("");
        var userId = $("#uid").val();
        url = "deleteVeinByEmpId";
        var param = {userId: userId};
        $.post(url, param, function (result) {
            if (result.code == 0) {
            	$("#msg").html("清空成功").css("color", "#3d3");
            	search();
            } else {
            	document.getElementById("msg").innerHTML = "清空失败";
            }
        });
    }

    function loginOut() {
    	if (confirm("请问是否退出?")) {
        	window.location='/jx_CMS/login';
    	}
    }

    //全选
    function qx(ind) {
        if (ind == 1) {
            var ids = $(".body-table-1 :checkbox");
            ids.prop("checked", true);
        }
        if (ind == 2) {
            var ids = $(".body-table-2 :checkbox");
            ids.prop("checked", true);
        }

    }

    //设置分页
    function setPagination(id,pageObject) {
    	debugger;
        //1.初始化总页数
        $(id+" .pageCount").html("总页数(" + pageObject.pageCount + ")");
        //2.初始化当前页的页码
        $(id+" .pageCurrent").html("当前页(" + pageObject.pageCurrent + ")");
        //3.在pageId对应的对象上绑定总页数
        //data函数用于以key/value的方式在对象上绑定数据
        $(id).data("pageCount", pageObject.pageCount);
        //4.在pageId对象的对象上绑定当前页面值
        $(id).data("pageCurrent", pageObject.pageCurrent);
    }

    //显示登陆的名字
    var temp;
    function people() {
        var url = "people";
        $.ajax({
            url: "people", dataType: 'json',
            contentType: "application/json;charset=utf-8",
            //async : true,
            success: function (result) {
                temp = result;
                $("#people").html(temp.data);
                if(temp.data!="admin"){
					$(".super").css("display","none");
                }
            }
        });
    }

    //显示已注册用户 已注册手指
    function veinnum() {
        var url = "selectUAndV";
        $.getJSON(url, function (result) {
            $("#veinnum").html(result.data);
        });
    }

    //查询当前管理员总数
    function selectUInfoNum() {
        var url = "selectUInfoNum";
        $.getJSON(url, function (result) {
            if (result.code == 0) {
                $("#sysNum").html("管理员总数:" + result.data);
            }
        });
    }

    function setting(){
    	var data=$("#data-setting option:selected").val();
    	var datas=$("#data-setting option:selected").text();
    	console.log(data);
    	console.log(datas);
    	var url = "useSchedule";
        var param = {time: data};
        $.post(url, param, function (result) {
           if(result.code==0){
        	   $("#setting-tip").html("设置成功,设置时间"+datas).css("color","#3d3");
           }
        }); 
     }
    
</script>
</body>
</html>